interactions:
- request:
    body: '{"name": "my-hub-ns"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NotificationHubs/checkNamespaceAvailability?api-version=2017-04-01
  response:
    body:
      string: '{"isAvailiable":true,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NotificationHubs/checkNamespaceAvailability","name":"my-hub-ns","type":"Microsoft.NotificationHubs/namespaces/checkNamespaceAvailability","location":null,"tags":null,"properties":true}'
    headers:
      content-type:
      - application/json; charset=utf-8
      server-sb:
      - Service-Bus-Resource-Provider/CH3
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "japaneast"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/feng-cli-rg/providers/Microsoft.NotificationHubs/namespaces/my-hub-ns?api-version=2017-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/feng-cli-rg/providers/Microsoft.NotificationHubs/namespaces/my-hub-ns","name":"my-hub-ns","type":"Microsoft.NotificationHubs/namespaces","location":"Japan
        East","kind":"NotificationHub","tags":{},"properties":{"provisioningState":"Unknown","metricId":null,"enabled":false,"namespaceType":"NotificationHub"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      server-sb:
      - Service-Bus-Resource-Provider/CH3
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/feng-cli-rg/providers/Microsoft.NotificationHubs/namespaces/my-hub-ns?api-version=2017-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/feng-cli-rg/providers/Microsoft.NotificationHubs/namespaces/my-hub-ns","name":"my-hub-ns","type":"Microsoft.NotificationHubs/namespaces","location":"Japan
        East","kind":"NotificationHub","sku":{"name":"Free"},"tags":{},"properties":{"provisioningState":"Activating","metricId":null,"status":"Created","createdAt":"2019-12-11T11:04:17.553Z","serviceBusEndpoint":"https://my-hub-ns.servicebus.windows.net:443/","enabled":true,"critical":false,"updatedAt":"2019-12-11T11:04:17.553Z","namespaceType":"NotificationHub"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      server-sb:
      - Service-Bus-Resource-Provider/CH3
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/feng-cli-rg/providers/Microsoft.NotificationHubs/namespaces?api-version=2017-04-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/feng-cli-rg/providers/Microsoft.NotificationHubs/namespaces/feng-notihub-ns","name":"feng-notihub-ns","type":"Microsoft.NotificationHubs/namespaces","location":"Japan
        East","kind":"NotificationHub","sku":{"name":"Free"},"tags":{},"properties":{"provisioningState":"Succeeded","metricId":null,"status":"Active","createdAt":"2019-12-10T10:14:04.52Z","serviceBusEndpoint":"https://feng-notihub-ns.servicebus.windows.net:443/","enabled":true,"critical":false,"updatedAt":"2019-12-10T10:14:30.19Z","namespaceType":"NotificationHub"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/feng-cli-rg/providers/Microsoft.NotificationHubs/namespaces/my-hub-ns","name":"my-hub-ns","type":"Microsoft.NotificationHubs/namespaces","location":"Japan
        East","kind":"NotificationHub","sku":{"name":"Free"},"tags":{},"properties":{"provisioningState":"Activating","metricId":null,"status":"Created","createdAt":"2019-12-11T11:04:17.553Z","serviceBusEndpoint":"https://my-hub-ns.servicebus.windows.net:443/","enabled":true,"critical":false,"updatedAt":"2019-12-11T11:04:17.553Z","namespaceType":"NotificationHub"}}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      server-sb:
      - Service-Bus-Resource-Provider/CH3
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "my-hub-73"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/feng-cli-rg/providers/Microsoft.NotificationHubs/namespaces/my-hub-ns/checkNotificationHubAvailability?api-version=2017-04-01
  response:
    body:
      string: '{"isAvailiable":true,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/feng-cli-rg/providers/Microsoft.NotificationHubs/namespaces/my-hub-ns/checkNotificationHubAvailability","name":"my-hub-73","type":"Microsoft.NotificationHubs/namespaces/notificationHubs/checkNotificationHubAvailability","location":null,"tags":null,"properties":true}'
    headers:
      content-type:
      - application/json; charset=utf-8
      server-sb:
      - Service-Bus-Resource-Provider/CH3
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "japaneast"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/feng-cli-rg/providers/Microsoft.NotificationHubs/namespaces/my-hub-ns/notificationHubs/my-hub-73?api-version=2017-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/feng-cli-rg/providers/Microsoft.NotificationHubs/namespaces/my-hub-ns/notificationHubs/my-hub-73","name":"my-hub-73","type":"Microsoft.NotificationHubs/namespaces/notificationHubs","location":"Japan
        East","tags":null,"properties":{"registrationTtl":"10675199.02:48:05.4775807"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      server-sb:
      - Service-Bus-Resource-Provider/CH3
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/feng-cli-rg/providers/Microsoft.NotificationHubs/namespaces/my-hub-ns/notificationHubs/my-hub-73?api-version=2017-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/feng-cli-rg/providers/Microsoft.NotificationHubs/namespaces/my-hub-ns/notificationHubs/my-hub-73","name":"my-hub-73","type":"Microsoft.NotificationHubs/namespaces/notificationHubs","location":"Japan
        East","tags":null,"properties":{"registrationTtl":"10675199.02:48:05.4775807","authorizationRules":[]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      server-sb:
      - Service-Bus-Resource-Provider/CH3
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/feng-cli-rg/providers/Microsoft.NotificationHubs/namespaces/my-hub-ns?api-version=2017-04-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NotificationHubs/operationresults/my-hub-ns?api-version=2017-04-01
      server-sb:
      - Service-Bus-Resource-Provider/CH3
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14998'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NotificationHubs/operationresults/my-hub-ns?api-version=2017-04-01
  response:
    body:
      string: '{"id":"subscriptions/0b1f64711bf04ddaaec3cb9272f09590/operationsStatus/my-hub-ns","name":"my-hub-ns","status":"InProgress"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NotificationHubs/operationresults/my-hub-ns?api-version=2017-04-01
      server-sb:
      - Service-Bus-Resource-Provider/CH3
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NotificationHubs/operationresults/my-hub-ns?api-version=2017-04-01
  response:
    body:
      string: '{"error":{"code":"ExpiredAuthenticationToken","message":"The access
        token expiry UTC time ''12/11/2019 9:08:40 PM'' is earlier than current UTC
        time ''12/11/2019 9:22:51 PM''."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization_uri="https://login.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
        error="invalid_token", error_description="The access token has expired."
      x-ms-failure-cause:
      - gateway
    status:
      code: 401
      message: Unauthorized
version: 1
